*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
.navbar
{
    height: 70px;
}
.navbar *
{
    background: #333;
    opacity: 0.9;
    color : white;

}
.navbar > nav , ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name-logo > h1
{
    font-size:2rem;
}
.name-logo > #name > span
{
    color: #28a745;
}
#name
{
    padding-left: 15px;
}
.lists  > li 
{
    list-style-type: none;
    margin: 10px;
    align-items: center;
    

}
.content
{
    color: #000;
    height: 100%;
    font-size: 1.6em;
}
.inner-cards > i
{
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background-color: #28a745;
}
.inner-cards > h4
{
    margin: 10px;
}
.inner-cards > p
{
    text-align:center;
}